<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png" />
		<link rel="alternate" type="application/atom+xml" href="feed" />

		<title><%= title %> / <%= config.siteTitle %></title>

		<style>
			/*

				╔═════════╗
				║ C S S   ║
				║ I S     ║
				║ A W E S O M E
				╚═════════╝

				regrets, i have a few
			*/

			:root{
				--type-ui: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
				--color-bg: #fff;
				--color-code: #ff9;
				--color-link: #b03;
				--color-nav: #666;
			}

			html {
				background-color: var( --color-bg );
				line-height: 1.4;
				margin: 0 1em;
			}

			body {
				font-family: Georgia, serif;
				font-size: 1.2em;
				margin: 1em auto;
				max-width: 45rem;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-family: var( --type-ui );
				line-height: 1.25;
				margin: 1.5em 0 1em 0;
			}

			a {
				color: var( --color-link );
			}

			article footer {
				color: var( --color-nav );
				font-size: 0.9em;
			}

			article img {
				height: auto;
				position: relative;
				width: 100%;
			}

			code {
				background-color: var( --color-code );
				font-size: 1.05em;
				padding: 3px 5px;
			}

			footer {
				font-family: var( --type-ui );
			}

			li {
				margin: 0.25em 0;
			}

			header nav {
				border-bottom: solid 3px var( --color-nav );
				display: flex;
				flex-direction: row;
				font-family: var( --type-ui );
				font-size: 1em;
				padding-bottom: 5px;
			}

			header nav h2 {
				font-size: 1em;
				line-height: inherit;
				margin: 0 5px 0 0;
			}

			header nav a {
				color: var( --color-nav );
				text-decoration: none;
			}

			header nav > a {
				margin-left: 5px;
			}

			main,
			.archive {
				margin: 4em 0;
			}

			.current a {
				font-weight: bold;
				text-decoration-style: wavy;
				-webkit-text-decoration-style: wavy;
			}

			.tag {
				margin-left: 3px;
			}
		</style>
	</head>

	<body>

		<header>
			<nav>
				<h2 class="title"><a href="/">Chris Zarate</a></h2>
				<a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#122;&#097;&#114;&#097;&#116;&#101;&#046;&#111;&#114;&#103;">Contact</a>
				<a href="https://github.com/chriszarate">Code</a>
			</nav>
		</header>

		<main>
