<%- include( 'header', { title: page.title.rendered, config } ); %>
<article>
<h1><%- page.title.rendered %></h1>
<%- page.content.rendered.replace( /\s+style="[^"]+"/g, '' ) %>
</article>
<%- include( 'footer', { archive: false } ); %>
