<%- include( 'header', { title: page.title.rendered, config } ); %>
<article>
<h2><%- page.title.rendered %></h2>
<%- page.content.rendered %>
</article>
<%- include( 'footer', { archive: true } ); %>
