<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h2 itemprop="headline"><%- post.title.rendered %></h2>
	</header>
	<%- post.content.rendered %>
	<footer>
		<%- include( 'post-link', { post, title: 'Link', dayjs } ); %>
	</footer>
</article>
