<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="headline"><%- post.title.rendered %></h1>
	</header>
	<%- post.content.rendered.replace( /\s+style="[^"]+"/g, '' ) %>
	<footer>
		<p><%- include( 'post-date', { post, dayjs } ); %></p>
	</footer>
</article>
