<%- include( 'header', { title: post.title.rendered, config } ); %>
<%- include( 'post-content', { post } ); %>
<nav>
	<p><strong><a href="archive" class="archive-link">Archive</a></strong></p>
</nav>
<%- include( 'footer', { config } ); %>
